// Colors

$bg-red: #D12136;
$bg-red-hover: #BD0C21;

$font-grey-dark: #48494D;
$font-black: #1A212F;
$font-blackest: #000000;
$font-white: #FFFFFF;
$font-red: #D12136;

$additional-color: #D7D9DF;


// Fonts

$font-family: "Open Sans", "Arial", sans-serif;

// Sizes

$desktop-width: 1024px;
