.footer {
  background-color: $bg-grey;

  padding-top: 26px;
  padding-bottom: 30px;
}

.footer__list {
  max-width: $max-width;
  width: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding-left: 20px;
}

.footer__link {
  color: $font-grey-dark;
}
