.review {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid $border-grey;
}

.review__author {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
}

.review__title {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;

  padding-top: 12px;
  margin-bottom: 5px;
}

.review__text {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 1px;
}

.review__rate-wrapper {
  display: flex;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 22px;
}

.review__rating {
  margin-right: 14px;
}

.review__footer {
  display: flex;
  align-items: baseline;
}

.review__time {
  font-size: 14px;
  line-height: 19px;
  color: $font-blackest;
  opacity: 0.4;
  margin-right: 26px;
}

.review__respond {
  color: $font-red;
  border: none;
  background-color: inherit;
}

.review__title--pros {
  &::before {
    content: "+";
    display: block;
    width: 9px;
    height: 20px;
    color: $font-red;
    margin-right: 10px;
  }
}

.review__title--cons {
  &::before {
    content: "-";
    display: block;
    width: 9px;
    height: 20px;
    color: $font-red;
    margin-right: 10px;
  }
}

.review__text--pros,
.review__text--cons {
  margin-left: 18px;
}
